.AboutContent {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -137px;
}
.regularText {
  font-size: 18px;
  color: #00000085;
  width: 80%;
  margin-left: 10%;
}
.KFCStoreImg {
  height: 400px;
  width: 80%;
  object-fit: none;
  object-position: 100% 0;
  border: 1px solid transparent;
  border-radius: 30px;
}
