.AboutContent {
  text-align: center;
  margin-top: 50px;
  min-height: 20vh;
}
.regularText {
  font-size: 18px;
  color: #00000085;
  width: 80%;
  margin-left: 10%;
}
.KFCStoreImg {
  height: 400px;
  width: 80%;
  object-fit: none;
  object-position: 100% 0;
  border: 1px solid transparent;
  border-radius: 30px;
}
@media only screen and (max-width: 497px) {
  .AboutContent {
    min-height: 54vh;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 0;
  }
  .regularText {
    font-size: 14px;
    text-align: justify;
  }
  .KFCStoreImg {
    height: 200px;
    object-position: 60% 10%;
    border-radius: 30px;
  }
}
@media only screen and (max-width: 780px) {
  .AboutContent {
    min-height: 70vh;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 0;
  }
  .regularText {
    font-size: 14px;
    text-align: justify;
  }
  .KFCStoreImg {
    height: 200px;
    object-position: 60% 10%;
    border-radius: 30px;
  }
}
