.ContactBox {
  text-align: center;
  margin-top: 70px;
}

.mainText {
  font-size: 48px;
}
.ContactBox li {
  display: inline-block;
  margin-right: 600px;
}
.ContactBox ul {
  position: relative;
  margin-left: -300px;
}
.regularText {
  font-size: 20px;
  color: #00000085;
}
.phoneNumber {
  position: absolute;
  width: 400px;
  top: 0;
  font-size: 36px;
  font-weight: bold;
}
.phoneBtn {
  position: absolute;
  top: 40px;
  left: 10px;
}
.bigText {
  font-size: 36px;
  font-weight: bold;
}
.workSchedule {
  position: relative;
}
.clockBtn {
  position: absolute;
  top: 90px;
  left: 820px;
}
.mapImg {
  margin-top: 50px;
  width: 100%;
}
